<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gitile.desktop.base.model.SysRole" >

	<select id="selectRightsByRoleId" resultType="java.lang.String" parameterType="java.lang.String" >
		SELECT 
			DISTINCT sar.right_url 
		FROM sys_role_application_right srar, sys_application_right sar
		WHERE srar.right_id=sar.id AND sar.right_url is not null
		AND srar.role_id = #{roleId}
	</select>
	
	<select id="selectApplicationByRoleId" 
	    resultMap="com.gitile.desktop.base.model.SysApplication.BaseResultMap" 
	    parameterType="java.lang.String" >
		SELECT 
			sa.id,sa.name,sa.icon,sa.simple,sa.resize,sa.height,sa.width,sa.app_url,sa.authorize,sa.remark
		FROM sys_role_application sra, sys_application sa
		WHERE sra.app_id=sa.id AND sra.role_id = #{roleId}
	</select>

	<select id="findUserApplicationMenu" 
	    resultMap="com.gitile.desktop.base.model.SysApplicationRight.BaseResultMap" 
	    parameterType="java.util.Map" >
		SELECT 
			sar.id,sar.icon,sar.app_id,sar.parent_id,sar.name,sar.right_type,sar.right_url,sar.sort 
		FROM sys_role_application_right srar 
		LEFT JOIN sys_application_right sar ON sar.id=srar.right_id
		WHERE srar.app_id=#{appId} AND srar.role_id=#{roleId} AND sar.parent_id=0 AND right_type=2
	</select>

</mapper>