<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.gitile.desktop.base.model.SysRoleApplication" >
	
	<resultMap id="BaseResultMap" type="com.gitile.desktop.base.model.SysRoleApplication">
		<result column="id" property="id" />
		<result column="role_id" property="roleId" />
		<result column="app_id" property="appId" />
	</resultMap>
	<sql id="Base_Column_List">
		id,role_id,app_id
	</sql>
	<select id="selectById" resultMap="BaseResultMap" parameterType="java.lang.Long" >
		select <include refid="Base_Column_List" /> from sys_role_application where id = #{id}
	</select>
	<delete id="delete" parameterType="java.lang.Long" >
		delete from sys_role_application where id = #{id}
	</delete>
	<insert id="save" parameterType="com.gitile.desktop.base.model.SysRoleApplication" useGeneratedKeys="true" keyProperty="id">
		insert into sys_role_application(role_id,app_id) values (#{roleId},#{appId});
	</insert>
	<update id="update" parameterType="com.gitile.desktop.base.model.SysRoleApplication" >
		update sys_role_application
		<set> 
			role_id = #{roleId},
			app_id = #{appId},
		</set> 
		where id = #{id}
	</update>
	<update id="updateSelective" parameterType="com.gitile.desktop.base.model.SysRoleApplication" >
		update sys_role_application
		<set> 
			<if test="roleId != null">role_id = #{roleId},</if>
			<if test="appId != null">app_id = #{appId},</if>
		</set> 
		where id = #{id}
	</update>
	<sql id="Example_Where_Clause" >
		<where>
			<foreach collection="oredCriteria" item="criteria" separator="or" >
				<if test="criteria.valid" >
					<trim prefix="(" suffix=")" prefixOverrides="and" >
						<foreach collection="criteria.criteria" item="criterion" >
							<choose >
								<when test="criterion.noValue" >and ${criterion.condition}</when>
								<when test="criterion.singleValue" >and ${criterion.condition} #{criterion.value}</when>
								<when test="criterion.betweenValue" >and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}</when>
								<when test="criterion.listValue" >
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
										#{listItem}
									</foreach>
								</when>
							</choose >
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<sql id="Update_By_Example_Where_Clause" >
		<where>
			<foreach collection="example.oredCriteria" item="criteria" separator="or" >
				<if test="criteria.valid" >
					<trim prefix="(" suffix=")" prefixOverrides="and" >
						<foreach collection="criteria.criteria" item="criterion" >
							<choose >
								<when test="criterion.noValue" >and ${criterion.condition}</when>
								<when test="criterion.singleValue" >and ${criterion.condition} #{criterion.value}</when>
								<when test="criterion.betweenValue" >and ${criterion.condition} #{criterion.value} and #{criterion.secondValue}</when>
								<when test="criterion.listValue" >
									and ${criterion.condition}
									<foreach collection="criterion.value" item="listItem" open="(" close=")" separator="," >
										#{listItem}
									</foreach>
								</when>
							</choose >
						</foreach>
					</trim>
				</if>
			</foreach>
		</where>
	</sql>
	<select id="selectByExample" resultMap="BaseResultMap" parameterType="com.gitile.desktop.base.model.SysRoleApplicationExample" >
		select
		<if test="distinct" >
			distinct
		</if>
		'true' as QUERYID,
		<include refid="Base_Column_List" />
		from sys_role_application
		<if test="_parameter != null" >
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null" >
			order by ${orderByClause}
		</if>
	</select>
	<select id="selectListByExample" resultMap="BaseResultMap" parameterType="com.gitile.desktop.base.model.SysRoleApplicationExample" >
		select
		<if test="distinct" >
			distinct
		</if>
		'true' as QUERYID,
		<include refid="Base_Column_List" />
		from sys_role_application
		<if test="_parameter != null" >
			<include refid="Example_Where_Clause" />
		</if>
		<if test="orderByClause != null" >
			order by ${orderByClause}
		</if>
		<if test="limitByClause != null" >
			limit ${limitByClause}
		</if>
	</select>
	<select id="selectCountByExample" resultType="java.lang.Integer" parameterType="com.gitile.desktop.base.model.SysRoleApplicationExample" >
		select count(*) from sys_role_application
		<if test="_parameter != null" >
			<include refid="Example_Where_Clause" />
		</if>
	</select>
	<update id="updateByExample" parameterType="map" >
		update sys_role_application
		<set> 
			role_id = #{record.roleId},
			app_id = #{record.appId},
		</set> 
		<if test="_parameter != null" >
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
	<update id="updateByExampleSelective" parameterType="map" >
		update sys_role_application
		<set> 
			<if test="record.roleId != null">role_id = #{record.roleId},</if>
			<if test="record.appId != null">app_id = #{record.appId},</if>
		</set> 
		<if test="_parameter != null" >
			<include refid="Update_By_Example_Where_Clause" />
		</if>
	</update>
</mapper>